.home-container {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.home-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-container input[type="file"] {
    margin-top: 20px;
    padding: 15px;
    background: #ff7a18;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

    .home-container input[type="file"]:hover {
        background: #ff9b4a;
    }
